:root {
    --content_text_pc: 24px;
    --content_text_mb: 20px;
    --Eng_font: 'Roboto', sans-serif;
    --content_font: 'Noto Sans TC', sans-serif;

    --prime_color_default: #FFA300;
    --prime_color_dark: #FF7A00;
    --secondary_color_default: #95CD47;
    --secondary_color_dark: #566B00;
    --text_color: #2D2D2D;
    --icon_grey: #959595;
    --white: #fff;
    --bgc: #FFF0D6;
}

body {
    background-color: var(--bgc);
    font-family: var(--content_font);
}

/* ------top nav----- */
.top_nav {
    position: fixed;
    z-index: 999;
    width: calc(100% - 36px);
    height: 52px;
    background-color: #FFF7E9;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.103);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 18px 0px 18px;
    top: 0;
    transition: 0.5s;
}

.top_nav .logo {
    width: 80px;
    cursor: pointer;
    
}

.top_nav img {
    width: 100%;
}

.top_nav .menuIcon {
    font-size: 28px;
    color: var(--icon_grey);
}

.top_nav .fa-xmark {
    font-size: 32px;
}

 
/* ------coverpic------ */
.cover {
    height: 1084px;
    width: 100%;
}
.cover .leaves_wrap_top {
    height: 1084px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 500;
}
.mb_num1 {
    width: 68px;
    position: absolute;
    top: -115px;
    left: -30px;
    transform: rotate(328deg);
    transform-origin: 20px 80px;
    filter: blur(4px);
    animation: mb_num1 4s infinite;
}
@keyframes mb_num1 {
    0% { transform:  rotate(328deg); }
    50% { transform:  rotate(322deg); }
    100% { transform:  rotate(328deg); }
}



.mb_num2 {
    width: 86px;
    position: absolute;
    top: -19px;
    left: -25px;
    transform:  rotate(16deg) scaleX(1);
    filter: blur(0px);
    z-index: -1;  
}
.mb_num3 {
    width: 68px;
    position: absolute;
    top: 179px;
    left: -25px;
    transform: rotate(344deg) scaleX(-1);
    filter: blur(7px);
    z-index: 2;
    animation: mb_num3 8s infinite;
}
@keyframes mb_num3 {
    0% { transform:  rotate(340deg) scaleX(-1); }
    50% { transform:  rotate(344deg) scaleX(-1); }
    100% { transform:  rotate(340deg) scaleX(-1); }
}

.mb_num4 {
    width: 68px;
    position: absolute;
    top: 208px;
    left: -56px;
    transform:  rotate(347deg) scaleX(-1);
    filter: blur(2px);
    z-index: 1;
    animation: mb_num4 4.5s infinite;
}
@keyframes mb_num4 {
    0% { transform:  rotate(347deg) scaleX(-1); }
    50% { transform:  rotate(340deg) scaleX(-1); }
    100% { transform:  rotate(347deg) scaleX(-1); }
}

.mb_num5 {
    width: 33px;
    position: absolute;
    top: 546px;
    left: 41px;
    transform: rotate(318deg) scaleX(-1);
    filter: blur(0px);
    z-index: 1;
    animation: mb_num5 6s infinite;
}
@keyframes mb_num5 {
    0% {  top: 546px }
    50% { top: 530px  }
    100% { top: 546px }
}
.mb_num6 {
    width: 80px;
    position: absolute;
    top: 515px;
    left: -71px;
    transform:  rotate(321deg) scaleX(1);
    filter: blur(8px);
    z-index: 1;
}
.mb_num7 {
    width: 57px;
    position: absolute;
    top: 718px;
    left: 89px;
    transform:  rotate(57deg) scaleX(1);
    filter: blur(0px);
    z-index: 1;
}
.mb_num8 {
    width: 48px;
    position: absolute;
    top: -78px;
    right: 8px;
    transform:  rotate(51deg) scaleX(-1);
    filter: blur(6px);
    z-index: 1;
}
.mb_num9 {
    width: 125px;
    position: absolute;
    top: -98px;
    right: -74px;
    transform:  rotate(351deg) scaleX(-1);
    filter: blur(1px);
    z-index: -1;
    animation: mb_num9 6s infinite;
}
@keyframes mb_num9 {
    0% { transform:  rotate(351deg) scaleX(-1); }
    50% { transform:  rotate(355deg) scaleX(-1); }
    100% { transform:  rotate(351deg) scaleX(-1); }
}
.mb_num10 {
    width: 125px;
    position: absolute;
    transform-origin: 0px 10px;
    top: 6px;
    right: -166px;
    transform: rotate(345deg) scaleX(-1);
    filter: blur(3px);
    z-index: -1;
    animation: mb_num10 3s infinite;
}
@keyframes mb_num10 {
    0% {   transform: rotate(345deg) scaleX(-1) }
    50% {  transform: rotate(350deg) scaleX(-1)}
    100% {  transform: rotate(345deg) scaleX(-1) }
}

.mb_num11 {
    width: 125px;
    position: absolute;
    top: -142px;
    right: 11px;
    transform:  rotate(3deg) scaleX(-1);
    filter: blur(8px);
    z-index: -1;
}
.mb_num12 {
    width: 34px;
    position: absolute;
    top: 167px;
    right: -29px;
    transform:  rotate(38deg) scaleX(1);
    filter: blur(4px);
    z-index: -1;
}
.mb_num13 {
    width: 83px;
    position: absolute;
    top: 132px;
    right: -71px;
    transform: rotate(17deg) scaleX(1);
    filter: blur(3px);
    z-index: -1;
    animation: mb_num13 6s infinite;
}
@keyframes mb_num13 {
    0% { transform: rotate(17deg) scaleX(1); }
    50% { transform: rotate(26deg) scaleX(1); }
    100% {transform: rotate(17deg) scaleX(1); }
}
.mb_num14 {
    width: 60px;
    position: absolute;
    top: 325px;
    right: 56px;
    transform: rotate(357deg) scaleX(1);
    filter: blur(0px);
    z-index: -1;
}
.mb_num15 {
    width: 163px;
    position: absolute;
    top: 486px;
    right: -43px;
    transform: rotate(73deg) scaleX(1);
    filter: blur(7px);
    z-index: 2;
    animation: mb_num15 6s infinite;
}
@keyframes mb_num15 {
    0% {  top: 486px; transform: rotate(73deg) scaleX(1)}
    50% {  top: 466px; transform: rotate(66deg) scaleX(1) }
    100% {  top: 486px; transform: rotate(73deg) scaleX(1)}
}

.mb_num16 {
    width: 51px;
    position: absolute;
    top: 541px;
    right: -31px;
    transform: rotate(16deg) scaleX(1);
    filter: blur(2px);
    z-index: 1;
}
.mb_num17 {
    width: 76px;
    position: absolute;
    top: 586px;
    right: -58px;
    transform: rotate(10deg) scaleX(1);
    filter: blur(1px);
    z-index: -1;
    animation: mb_num17 10s infinite;
}
@keyframes mb_num17 {
    0% { transform: rotate(10deg) scaleX(1); }
    50% {  transform: rotate(-2deg) scaleX(1); }
    100% { transform: rotate(10deg) scaleX(1);}
}

.mb_num18 {
    width: 72px;
    position: absolute;
    top: 852px;
    right: 116px;
    transform-origin: 0px 10px;
    transform: rotate(323deg) scaleX(-1);
    filter: blur(10px);
    z-index: -1;
    animation: mb_num18 10s infinite;
}
@keyframes mb_num18 {
    0% { top: 852px; transform: rotate(323deg) scaleX(-1); }
    50% { top: 832px; transform: rotate(316deg) scaleX(-1);  }
    100% {top: 852px; transform: rotate(323deg) scaleX(-1); }
}

/* leaves */
.cover .coverpic {
    width: 240px;
    margin: auto;
    margin-top: 74px;
    margin-bottom: 48px;
    padding-top: 66px;
    

}
.cover .coverpic img{
    width: 100%;
    filter: drop-shadow(0px 0px 16px rgba(255, 198, 53, 0.87));
    animation:coverpic 7s infinite ;
    transform: translateY(0);
}
@keyframes coverpic {
    0% {transform: translateY(0)}
    50% {transform: translateY(12px)}
    100% {transform: translateY(0)}
}
.cover .headline h2 {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 46px;
    font-weight: 700;
    color: var(--prime_color_dark);
    margin-bottom: 28px;
    filter: drop-shadow(0px 0px 12px rgb(255, 198, 53));
    
}
.cover .subtitle h3 {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: var(--text_color);
    margin-bottom: 56px;
}
.scroll_indic {
    font-size: 16px;
    color: #c2c2c2;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.indic_line {
    width: 1px;
    height: 50px;
    background-color: #c2c2c2;
    margin: auto;
    margin-top: 12px;
    position: relative;
}
.indic_line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    transform-origin: 0 0;
    transform: rotate(-40deg);
}
.indic_line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    transform-origin: 100% 100%;
    transform: rotate(40deg);
}
/* ------introduction------ */ 
.text_align {
    text-align: justify;
}

.introduction {
    padding: 180px 24px;
    background-image: url(images/introduction_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%  0%;
    margin-bottom: 60px;
}
.introduction .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.introduction p {
    font-size: 22px;
    line-height: 140%;
}
/* ------story------ */
.story {
    padding: 180px 24px;
    background-image: url(images/story_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%  0%;
    margin-bottom: 120px;
}
.story .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.story p {
    font-size: 22px;
    line-height: 140%;
}
/* ------environ------ */
.environ {
    margin-bottom: 72px;
}
.environ .content {
    padding: 0px 24px;
    margin-bottom: 100px;
}
.environ .content .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.environ .content p {
    font-size: 22px;
    line-height: 140%;
}
.taiwan_map {
    margin-bottom: 56px;
}
.taiwanmap_wrap {
    width: 375px;
    position: relative;
    height: 540px;
    margin: auto;
}
.taiwanmap_wrap .map {
    width: 100%;
}
.taiwanmap_wrap .tainan{
    color: #fff;
    position: absolute;
    top: 272px;
    left: 26%;
    z-index: 1;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
}

.taiwanmap_wrap .magnifier {
    position: absolute;
    top: 260px;
    right: 30px;
    z-index: 2;
}
.location {
    width: 100%;
    height: 440px;
    background-color: #ccc;
    background-image: linear-gradient(180deg, rgba(255, 153, 0, 0.74) -18.34%, #FFF0D6 97.72%),url(images/road_map.svg);
    background-size:auto;
    position: relative;
    overflow: hidden;
}
.location .mask {
    position: absolute;
    left: auto;
    top: -100px;
    width: 103%;
    height: 200px;
    background-color: var(--bgc);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 10px solid var(--secondary_color_dark);
    transform: translate(-14px, -44px);
}
.location_mapcheck {
   margin: auto;
   margin-top: 160px;
}
/* ------purchase------ */
.mango_branch {
    width: fit-content;
    position: relative;
    margin-bottom: 260px;
}
.mango_branch #branch {
    width: 308px;
    transform: translateX(-48px);
}
.mango_branch #drop {
    width: 54px;
    position: absolute;
    top: 124px;
    left: 50px;
    transform: rotate(3deg);
}
.gift_box {
    width: fit-content;
    margin-bottom: 176px;
}
.gift_box img {
    width: 320px;
    margin: 0 auto 0 20px;
}

.purchase > .content {
    padding: 0 24px;
    margin-bottom: 60px;
}
.purchase .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px;
}
.purchase .content p {
    font-size: 22px;
    line-height: 140%;
}
.purchase .checks{
    padding: 0px 24px;
}
.purchase .check {
    margin-bottom: 48px;
}
.purchase .check:last-child {
    margin-bottom: 0;
}
.purchase .purchase_cta {
    margin: auto;
    
}
.purchase .cta_wrap {
    width: 100%;
    height: 400px;
    padding-top: 80px;
    position: relative;
}
.purchase .leaves_wrap_bot {
    height: 480px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 500;
    top: 0;
}
.mb_num19 {
    width: 148px;
    position: absolute;
    top: -68px;
    left: -88px;
    transform: rotate(296deg) scaleX(-1);
    filter: blur(0px);
    z-index: 1;
}
.mb_num20 {
    width: 105px;
    position: absolute;
    top: -145px;
    left: -105px;
    transform: rotate(341deg) scaleX(-1);
    filter: blur(4px);
    z-index: 1;
}
.mb_num21 {
    width: 128px;
    position: absolute;
    top: -9px;
    left: -103px;
    transform-origin: 80px 280px;
    transform: rotate(303deg) scaleX(1);
    filter: blur(8px);
    z-index: 1;
    animation: mb_num21 4s infinite;
}
@keyframes mb_num21 {
    0% {transform: rotate(303deg) scaleX(1);}
    50% {transform: rotate(295deg) scaleX(1);}
    100% {transform: rotate(303deg) scaleX(1); }


}


.mb_num22 {
    width: 254px;
    position: absolute;
    top: 295px;
    left: -100px;
    transform: rotate(10deg) scaleX(1);
    filter: blur(6px);
    z-index: -1;
}
.mb_num23 {
    width: 171px;
    position: absolute;
    top: 380px;
    right: 112px;
    transform: rotate(10deg) scaleX(1);
    filter: blur(1px);
    z-index: -2;
}
.mb_num24 {
    width: 35px;
    position: absolute;
    top: 9px;
    right: -55px;
    transform-origin: 0px 0px;
    transform: rotate(24deg) scaleX(-1);
    filter: blur(0px);
    z-index: -2;
    animation: mb_num24 3s infinite;
}
@keyframes mb_num24 {
    0% {transform: rotate(30deg) scaleX(-1);}
    50% {transform: rotate(22deg) scaleX(-1);}
    100% {transform: rotate(30deg) scaleX(-1);}
}
    
.mb_num25 {
    width: 150px;
    position: absolute;
    top: 166px;
    right: -88px;
    transform: rotate(5deg) scaleX(1);
    filter: blur(1px);
    z-index: -2;
}
.mb_num26 {
    width: 106px;
    position: absolute;
    top: 56px;
    right: -130px;
    transform: rotate(44deg) scaleX(1);
    filter: blur(6px);
    z-index: 0;
}
.mb_num27 {
    width: 286px;
    position: absolute;
    top: 295px;
    right: -88px;
    transform: rotate(2deg) scaleX(1);
    filter: blur(3px);
    z-index: -2;
}
/* ------footer------ */
.footer {
    width: 100%;
    background-color:var(--prime_color_default);
    padding: 14px 0;
}
    
.footer_text {
    display: block;
    width: calc(100% -188px);
    margin: auto;
    text-align: center;
    color: #606060;
    line-height: 140%;
    font-size: 14px;
    word-break: keep-all;
    
}




