:root {
    --content_text_pc: 24px;
    --content_text_mb: 20px;
    --Eng_font: 'Roboto', sans-serif;
    --content_font: 'Noto Sans TC', sans-serif;

    --prime_color_default: #FFA300;
    --prime_color_dark: #FF7A00;
    --secondary_color_default: #95CD47;
    --secondary_color_dark: #566B00;
    --text_color: #2D2D2D;
    --icon_grey: #959595;
    --white: #fff;
    --bgc: #FFF0D6;
}

body {
    background-color: var(--bgc);
    font-family: var(--content_font);
}

/* ------top nav----- */
.top_nav {
    position: fixed;
    z-index: 999;
    width: calc(100% - 36px);
    height: 52px;
    background-color: #FFF7E9;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.074);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 18px 0px 18px;
    top: 0;
}

.top_nav .logo {
    width: 80px;
    cursor: pointer;
}

.top_nav img {
    width: 100%;
}

.top_nav .menuIcon {
    font-size: 28px;
    color: var(--icon_grey);
}

.top_nav .fa-xmark {
    font-size: 32px;
}

 
/* ------coverpic------ */
.cover {
    height: 1084px;
    width: 100%;
}
.cover .leaves_wrap_top {
    height: 1084px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 500;
}
.mb_num1 {
    width: 68px;
    position: absolute;
    top: -115px;
    left: -185px;
    transform: translateX(200px) rotate(328deg);
    filter: blur(4px);
}
.mb_num2 {
    width: 86px;
    position: absolute;
    top: -19px;
    left: -225px;
    transform: translateX(200px) rotate(16deg) scaleX(1);
    filter: blur(0px);
    z-index: -1;  
}
.mb_num3 {
    width: 68px;
    position: absolute;
    top: 190px;
    left: -225px;
    transform: translateX(200px) rotate(344deg) scaleX(-1);
    filter: blur(7px);
    z-index: -1;
}
.mb_num4 {
    width: 68px;
    position: absolute;
    top: 208px;
    left: -256px;
    transform: translateX(200px) rotate(347deg) scaleX(-1);
    filter: blur(2px);
    z-index: 1;
}
.mb_num5 {
    width: 33px;
    position: absolute;
    top: 546px;
    left: -158px;
    transform: translateX(200px) rotate(318deg) scaleX(-1);
    filter: blur(0px);
    z-index: 1;
}
.mb_num6 {
    width: 80px;
    position: absolute;
    top: 515px;
    left: -271px;
    transform: translateX(200px) rotate(321deg) scaleX(1);
    filter: blur(8px);
    z-index: 1;
}
.mb_num7 {
    width: 57px;
    position: absolute;
    top: 718px;
    left: -89px;
    transform: translateX(200px) rotate(57deg) scaleX(1);
    filter: blur(0px);
    z-index: 1;
}
.mb_num8 {
    width: 48px;
    position: absolute;
    top: -78px;
    left: 118px;
    transform: translateX(200px) rotate(51deg) scaleX(-1);
    filter: blur(6px);
    z-index: 1;
}
.mb_num9 {
    width: 125px;
    position: absolute;
    top: -98px;
    left: 122px;
    transform: translateX(200px) rotate(351deg) scaleX(-1);
    filter: blur(1px);
    z-index: -1;
}
.mb_num10 {
    width: 125px;
    position: absolute;
    top: 10px;
    left: 113px;
    transform: translateX(200px) rotate(345deg) scaleX(-1);
    filter: blur(3px);
    z-index: -1;
}
.mb_num11 {
    width: 125px;
    position: absolute;
    top: -142px;
    left: 12px;
    transform: translateX(200px) rotate(3deg) scaleX(-1);
    filter: blur(8px);
    z-index: -1;
}
.mb_num12 {
    width: 34px;
    position: absolute;
    top: 167px;
    left: 152px;
    transform: translateX(200px) rotate(38deg) scaleX(1);
    filter: blur(4px);
    z-index: -1;
}
.mb_num13 {
    width: 83px;
    position: absolute;
    top: 132px;
    left: 164px;
    transform: translateX(200px) rotate(17deg) scaleX(1);
    filter: blur(3px);
    z-index: -1;
}
.mb_num14 {
    width: 60px;
    position: absolute;
    top: 325px;
    left: 68px;
    transform: translateX(200px) rotate(357deg) scaleX(1);
    filter: blur(0px);
    z-index: -1;
}
.mb_num15 {
    width: 163px;
    position: absolute;
    top: 482px;
    left: 65px;
    transform: translateX(200px) rotate(73deg) scaleX(1);
    filter: blur(7px);
    z-index: -1;
}
.mb_num16 {
    width: 51px;
    position: absolute;
    top: 541px;
    left: 153px;
    transform: translateX(200px) rotate(16deg) scaleX(1);
    filter: blur(2px);
    z-index: 1;
}
.mb_num17 {
    width: 76px;
    position: absolute;
    top: 586px;
    left: 156px;
    transform: translateX(200px) rotate(10deg) scaleX(1);
    filter: blur(1px);
    z-index: -1;
}
.mb_num18 {
    width: 72px;
    position: absolute;
    top: 860px;
    left: 7px;
    transform: translateX(200px) rotate(323deg) scaleX(-1);
    filter: blur(10px);
    z-index: -1;
}
/* leaves */
.cover .coverpic {
    width: 240px;
    margin: auto;
    margin-top: 74px;
    margin-bottom: 48px;
    padding-top: 66px;
    

}
.cover .coverpic img{
    width: 100%;
    filter: drop-shadow(0px 0px 16px rgba(255, 198, 53, 0.87));
    
}
.cover .headline h2 {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 46px;
    font-weight: 700;
    color: var(--prime_color_dark);
    margin-bottom: 28px;
    filter: drop-shadow(0px 0px 12px rgb(255, 198, 53));
    
}
.cover .subtitle h3 {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: var(--text_color);
    margin-bottom: 56px;
}
.scroll_indic {
    font-size: 16px;
    color: #c2c2c2;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.indic_line {
    width: 1px;
    height: 50px;
    background-color: #c2c2c2;
    margin: auto;
    margin-top: 12px;
    position: relative;
}
.indic_line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    transform-origin: 0 0;
    transform: rotate(-40deg);
}
.indic_line::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    transform-origin: 100% 100%;
    transform: rotate(40deg);
}
/* ------introduction------ */ 
.text_align {
    text-align: justify;
}

.introduction {
    padding: 180px 24px;
    background-image: url(images/introduction_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%  0%;
    margin-bottom: 60px;
}
.introduction .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.introduction p {
    font-size: 22px;
    line-height: 140%;
}
/* ------story------ */
.story {
    padding: 180px 24px;
    background-image: url(images/story_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%  0%;
    margin-bottom: 120px;
}
.story .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.story p {
    font-size: 22px;
    line-height: 140%;
}
/* ------environ------ */
.environ {
    margin-bottom: 72px;
}
.environ .content {
    padding: 0px 24px;
    margin-bottom: 100px;
}
.environ .content .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px ;
}
.environ .content p {
    font-size: 22px;
    line-height: 140%;
}
.taiwan_map {
    margin-bottom: 56px;
}
.taiwanmap_wrap {
    width: 375px;
    position: relative;
    height: 540px;
    margin: auto;
}
.taiwanmap_wrap .map {
    width: 100%;
}
.taiwanmap_wrap .tainan{
    color: #fff;
    position: absolute;
    top: 272px;
    left: 26%;
    z-index: 1;
    font-size: 16px;
    padding: 6px;
    cursor: pointer;
}

.taiwanmap_wrap .magnifier {
    position: absolute;
    top: 260px;
    right: 30px;
    z-index: 2;
}
.location {
    width: 100%;
    height: 440px;
    background-color: #ccc;
    background-image: linear-gradient(180deg, rgba(255, 153, 0, 0.74) -18.34%, #FFF0D6 97.72%),url(images/road_map.svg);
    background-size:auto;
    position: relative;
    overflow: hidden;
}
.location .mask {
    position: absolute;
    left: auto;
    top: -100px;
    width: 103%;
    height: 200px;
    background-color: var(--bgc);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 10px solid var(--secondary_color_dark);
    transform: translate(-14px, -44px);
}
.location_mapcheck {
   margin: auto;
   margin-top: 160px;
}
/* ------purchase------ */
.mango_branch {
    width: fit-content;
    position: relative;
    margin-bottom: 260px;
}
.mango_branch #branch {
    width: 308px;
    transform: translateX(-48px);
}
.mango_branch #drop {
    width: 54px;
    position: absolute;
    top: 124px;
    left: 50px;
    transform: rotate(3deg);
}
.gift_box {
    width: fit-content;
    margin-bottom: 176px;
}
.gift_box img {
    width: 320px;
    margin: 0 auto 0 20px;
}

.purchase > .content {
    padding: 0 24px;
    margin-bottom: 60px;
}
.purchase .headline {
    width: fit-content;
    margin-right: auto;
    margin-bottom: 24px;
}
.purchase .content p {
    font-size: 22px;
    line-height: 140%;
}
.purchase .checks{
    padding: 0px 24px;
}
.purchase .check {
    margin-bottom: 48px;
}
.purchase .check:last-child {
    margin-bottom: 0;
}
.purchase .purchase_cta {
    margin: auto;
    
}
.purchase .cta_wrap {
    width: 100%;
    height: 400px;
    padding-top: 80px;
    position: relative;
}
.purchase .leaves_wrap_bot {
    height: 480px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 500;
    top: 0;
}
.mb_num19 {
    width: 148px;
    position: absolute;
    top: -68px;
    left: -288px;
    transform: translateX(200px) rotate(296deg) scaleX(-1);
    filter: blur(0px);
    z-index: 1;
}
.mb_num20 {
    width: 105px;
    position: absolute;
    top: -145px;
left: -307px;
    transform: translateX(200px) rotate(341deg) scaleX(-1);
    filter: blur(4px);
    z-index: 1;
}
.mb_num21 {
    width: 128px;
    position: absolute;
    top: 2px;
    left: -356px;
    transform: translateX(200px) rotate(303deg) scaleX(1);
    filter: blur(8px);
    z-index: 1;
}
.mb_num22 {
    width: 254px;
    position: absolute;
    top: 295px;
    left: -293px;
    transform: translateX(200px) rotate(10deg) scaleX(1);
    filter: blur(6px);
    z-index: -1;
}
.mb_num23 {
    width: 171px;
    position: absolute;
    top: 380px;
    right: 341px;
    transform: translateX(200px) rotate(10deg) scaleX(1);
    filter: blur(1px);
    z-index: -2;
}
.mb_num24 {
    width: 41px;
    position: absolute;
    top: -33px;
    right: 199px;
    transform: translateX(200px) rotate(24deg) scaleX(-1);
    filter: blur(0px);
    z-index: -2;
}
.mb_num25 {
    width: 150px;
    position: absolute;
    top: 132px;
    right: 114px;
    transform: translateX(200px) rotate(5deg) scaleX(1);
    filter: blur(1px);
    z-index: -2;
}
.mb_num26 {
    width: 94px;
    position: absolute;
    top: 68px;
    right: 101px;
    transform: translateX(200px) rotate(44deg) scaleX(1);
    filter: blur(6px);
    z-index: 0;
}
.mb_num27 {
    width: 286px;
    position: absolute;
    top: 295px;
    right: 94px;
    transform: translateX(200px) rotate(0deg) scaleX(1);
    filter: blur(3px);
    z-index: -2;
}
/* ------footer------ */
.footer {
    width: 100%;
    background-color:var(--prime_color_default);
    padding: 14px 0;
}
    
.footer_text {
    display: block;
    width: calc(100% -188px);
    margin: auto;
    text-align: center;
    color: #606060;
    line-height: 140%;
    font-size: 14px;
    word-break: keep-all;
    
}




